<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		* {
			text-align: center;
		}
		a:hover {
			cursor: pointer;
		}
	</style>
	<title>Error</title>
</head>
<body>
	<div style="margin:auto;"><%= message %></div>
	<br>
	<p onclick="window.api.send('home')">Click <a><u>here</u></a> to go to the home page</a>
</body>
</html>
