* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Trebuchet MS';
	color: black;
	font-size: 16px;
	border-radius: 25px;
}

body {
	background: linear-gradient(to right bottom, rgb(17, 221, 160), rgb(152, 15, 177));
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	min-width: 620px;
	height: 100vh;
	min-height: 520px;
	text-align: center;
	display: flex;
}

body::-webkit-scrollbar {
	width: 0px;
	height: 7px;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(25, 25, 25, 0.75);
	border-radius: 3px;
}

#main {
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.25));
	backdrop-filter: blur(25px);
	padding: 30px 0px;
	margin: auto;
	min-height: 490px;
	height: 96vh;
	min-width: 600px;
	width: 75%;
	max-width: 700px;
}

#search-wrapper {
	background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
	width: 65%;
	margin: auto;
	display: flex;
}

#search {
	background: transparent;
	padding: 9px 0px 9px 16px;
	flex: 1;
	border-radius: 25px 0px 0px 25px;
	border: none;
	outline: none;
}

button {
	background: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.25s ease;
}

button:hover {
	transform: rotate(90deg);
}

#add-btn {
	height: 37px;
	width: 37px;
	border-radius: 0px 25px 25px 0px;
}

.edit-btn {
	margin: 1px;
}

#menu {
	background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
	width: 65%;
	margin: auto;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0px 20px;
	transition: 0.25s ease;
}

#results {
	margin: 30px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 67px;
	bottom: 0px;
	overflow: auto;
	border-radius: 0px;
	transition: 0.25s ease;
}

#results::-webkit-scrollbar {
	width: 0px;
}

.card {
	background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
	margin: 20px 0px;
	padding-bottom: 20px;
	overflow: hidden;
	transition: 0.25s ease;
}

.title-wrapper {
	cursor: pointer;
	padding: 20px;
	height: 59px;
}

.cont {
	margin-bottom: 20px;
	padding: 0px 20px;
	text-align: justify;
	overflow-wrap: break-word;
}

.outer-wrapper {
	height: 27px;
	margin-top: 3px;
	padding: 0px 20px;
	display: flex;
}

.wrapper {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex: 1;
}

.tag1 {
	background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
	font-size: 0.75rem;
	padding: 5px;
	margin: 1px;
	max-width: fit-content;
	cursor: pointer;
}

.tag2 {
	background: linear-gradient( to right bottom, rgba(50, 50, 50, 0.75), rgba(50, 50, 50, 0.4));
	color: white;
	font-size: 0.75rem;
	padding: 5px;
	margin: 1px;
	max-width: fit-content;
	text-decoration: none;
}

code {
	background-color: rgba(25, 25, 25, 0.75);
	font-size: 0.9rem;
	font-family: 'cascadia code';
	color: rgb(230, 230, 230);
	padding: 2px 5px;
	border-radius: 5px;
}

.code {
	background-color: rgba(25, 25, 25, 0.75);
	font-size: 0.9rem;
	font-family: 'cascadia code';
	color: rgb(230, 230, 230);
	padding: 2px 5px;
	border-radius: 5px;
}
